@model TourneyRepo.Models.ScheduledEvent

@{
  ViewBag.Title = "Add Event";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title">Add Details</h3>
        </div>
        <div class="card-body">
          <form method="post">
            <textarea id="summernote" name="Description"></textarea>
          </form>
        </div>
      </div>
    </div>
    <!-- left column -->
    <div class="col-md-4">
      <!-- general form elements -->
      <div class="card card-warning">
        <div class="card-header">
          <h3 class="card-title"> Add Event</h3>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        @using (Html.BeginForm())
        {
          @Html.AntiForgeryToken()

          <div class="card-body">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group required">
              @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
              @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
              @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group required">
              @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })
              @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
              @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>

            <div class="form-group required">
              @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label" })
              @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
              @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
            </div>

            <div class="form-group required">
              @Html.LabelFor(model => model.EventDate, htmlAttributes: new { @class = "control-label" })
              @Html.EditorFor(model => model.EventDate, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
              @Html.ValidationMessageFor(model => model.EventDate, "", new { @class = "text-danger" })
            </div>
                        
            <div class="form-group">
              <div class="class=" card-footer">
                <input id="add" type="submit" value="Publish" class="btn btn-warning" style="width: 180px; margin-left:auto;margin-right:auto;display:block;margin-top:auto;margin-bottom:0%" />
              </div>
            </div>
            <br />
            <div>
              @Html.ActionLink("Back to List", "Index")
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>

@* SummuerNote *@
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
@* End *@

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<style>
  .form-group.required .control-label:after {
    content: "*";
    color: red;
  }
</style>

<script>


  $(document).ready(function () {
    $('#summernote').summernote();
  });

  $('#summernote').summernote({
  height: 610,
});

  $(function () {

    $(document).ready(function () {


      if ($('#Racked').is(':checked')) {
        $('.RackedFields').show();
      } else {
        $('.RackedFields').hide();
      }

      $('#Racked').change(function () {
        if (this.checked)
          $('.RackedFields').show();/*.fadeIn('slow');*/
        else
          $('.RackedFields').hide();/*.fadeOut('slow');*/
        $('#RackId').val("");
        $('#UID').val("");

      });


      $('#btnApply').click(function () {
        if (IsDatesCorrect() == false) {
          //alert('false');
          return false;
        }
        else {
          //alert('true');
          return true;
        }

      });

      //alert('@ViewBag.FiscalYearStart');
      var momentDate = moment('@ViewBag.FiscalYearStart', 'DD-MM-YYYY HH:mm:ss');
      //alert(momentDate);
      var fiscalYearStart = momentDate.toDate();
      //alert(fiscalYearStart);
      momentDate = moment('@ViewBag.FiscalYearEnd', 'DD-MM-YYYY HH:mm:ss');
      var fiscalYearEnd = momentDate.toDate();
      //alert(momentDate);


      $("#LineManager1Id").change(function () {
        $('#LineManager2Id').val($('#LineManager1Id').val());
      });
      //01/07/2021 00:00:00

      //alert(new Date());
      var message = "@ViewBag.PolicyAlert";
      if (message != "") {
         $("#Create :input").prop("disabled", true);
         alert(message);
      }


      $("#ReceivingDate").datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1,
        dateFormat: 'mm/dd/y',
        //showButtonPanel: true

        showOn: "both"
        //buttonImage: "images/calendar.gif",
        //buttonImageOnly: true,
        //buttonText: "Select date",

        //minDate: -20,
        //maxDate: "+1M +10D"
      });

      $("#WarrantyExpiryDate").datepicker({
        showOtherMonths: true,
        selectOtherMonths: true,
        changeMonth: true,
        changeYear: true,
        numberOfMonths: 1,
        dateFormat: 'mm/dd/yy',
        showOn: "both",
        onSelect: function () {
          IsDatesCorrect();
          //SubmitButtonStatus();
        }
      });
      //function SubmitButtonStatus() {
      //  $(':input[type="submit"]').prop('disabled', true);
      //}
      //$('#Apply').keydown(function () {
      //  if (IsDatesCorrect() == false) {
      //    return false;
      //  }
      //});
      function IsDatesCorrect() {
        var start = $("#datepickerStart").datepicker("getDate");
        var end = $("#datepickerEnd").datepicker("getDate");
        var diff = new Date(end - start);

        var days = diff / 1000 / 60 / 60 / 24 + 1;
        if (days == 0 || days < 0) {
          alert("End date should be greater than start date");
          $("#datepickerEnd").val("");
          return false;
        }
        if (days > 365) {
          alert("Can not apply leave more than a year");
          $("#datepickerEnd").val("");
          return false;
        }
        if (start < fiscalYearStart || end > fiscalYearEnd || start > fiscalYearEnd || end < fiscalYearStart) {
          alert("You can claim leave of current fiscal year only.");
          $("#datepickerStart").val("");
          $("#datepickerEnd").val("");
          return false;
        }
         //alert(days);
        $('#diff').val(days);
        return true;
      }

      //showButtonPanel: true


      //showOn: "button",
      //buttonImage: "images/calendar.gif",
      //buttonImageOnly: true,
      //buttonText: "Select date",

      //minDate: -20,
      //maxDate: "+1M +10D"
    });

  });
</script>

